@tailwind base;
@tailwind components;

@layer components {
    .navBtn {
        @apply bg-gradient-to-r from-white to-black text-center rounded-lg py-1 px-3 mt-8 duration-500 active:bg-slate-500
    }
}

@tailwind utilities;


.logo {
    transition: 200ms;
    animation: heartBeat 2s ease-in-out infinite alternate;
}

@keyframes heartBeat {
    from {
        filter: drop-shadow(0 0 0.1rem cyan);
    }

    to {
        filter: drop-shadow(0 0 0.95rem cyan);
    }
}

.landingText {
    animation: glowBeat 900ms ease-in-out infinite alternate;
}

@keyframes glowBeat {
    from {
        filter: drop-shadow(150 150 0.01rem white);
    }

    to {
        filter: drop-shadow(0 0 0.3rem white);
    }
}

.cardDropshadow {
    filter: drop-shadow(0 0 0.5rem #e0f);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ff10efe2;
}

::-webkit-scrollbar-thumb {
    background: #061536;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}